# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

project/data/_mdb_catalog.wt
project/data/collection-0--1081921381373197020.wt
project/data/collection-2--1081921381373197020.wt
project/data/collection-4--1081921381373197020.wt
project/data/collection-7--1081921381373197020.wt
project/data/index-1--1081921381373197020.wt
project/data/index-3--1081921381373197020.wt
project/data/index-5--1081921381373197020.wt
project/data/index-6--1081921381373197020.wt
project/data/index-8--1081921381373197020.wt
project/data/index-9--1081921381373197020.wt
project/data/mongod.lock
project/data/sizeStorer.wt
project/data/storage.bson
project/data/WiredTiger
project/data/WiredTiger.lock
project/data/WiredTiger.turtle
project/data/WiredTiger.wt
project/data/WiredTigerHS.wt
project/data/diagnostic.data/metrics.2023-04-22T00-42-13Z-00000
project/data/journal/WiredTigerLog.0000000001
project/data/journal/WiredTigerTmplog.0000000002
project/db-data/mongo/_mdb_catalog.wt
project/db-data/mongo/collection-0--1112602923896203797.wt
project/db-data/mongo/collection-0-8926230681042626545.wt
project/db-data/mongo/collection-2-8926230681042626545.wt
project/db-data/mongo/collection-4-8926230681042626545.wt
project/db-data/mongo/collection-8-8926230681042626545.wt
project/db-data/mongo/index-1--1112602923896203797.wt
project/db-data/mongo/index-1-8926230681042626545.wt
project/db-data/mongo/index-3-8926230681042626545.wt
project/db-data/mongo/index-5-8926230681042626545.wt
project/db-data/mongo/index-6-8926230681042626545.wt
project/db-data/mongo/index-9-8926230681042626545.wt
project/db-data/mongo/index-10-8926230681042626545.wt
project/db-data/mongo/mongod.lock
project/db-data/mongo/sizeStorer.wt
project/db-data/mongo/storage.bson
project/db-data/mongo/WiredTiger
project/db-data/mongo/WiredTiger.lock
project/db-data/mongo/WiredTiger.turtle
project/db-data/mongo/WiredTiger.wt
project/db-data/mongo/WiredTigerLAS.wt
project/db-data/mongo/diagnostic.data/metrics.2023-04-22T14-39-53Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-22T14-47-44Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-22T14-58-02Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-22T15-03-24Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-22T15-44-37Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-23T22-37-01Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-25T13-21-30Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-25T13-59-49Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-04-25T14-12-55Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-05-09T14-40-57Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-05-09T16-09-45Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-05-11T23-07-23Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-05-12T12-55-29Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-05-12T12-56-45Z-00000
project/db-data/mongo/diagnostic.data/metrics.2023-05-13T21-01-35Z-00000
project/db-data/mongo/journal/WiredTigerLog.0000000016
project/db-data/mongo/journal/WiredTigerPreplog.0000000001
project/db-data/mongo/journal/WiredTigerPreplog.0000000002
project/db-data/rabbitmq/.erlang.cookie
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48-feature_flags
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262-feature_flags
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c-feature_flags
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7-feature_flags
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/cluster_nodes.config
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/DECISION_TAB.LOG
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/LATEST.LOG
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/node-type.txt
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/nodes_running_at_shutdown
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_durable_exchange.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_durable_exchange.DCL
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_durable_queue.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_durable_route.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_runtime_parameters.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_runtime_parameters.DCL
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_serial
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_topic_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_user_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_user_permission.DCL
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_user.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_user.DCL
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_vhost.DCD
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/rabbit_vhost.DCL
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/schema.DAT
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/coordination/rabbit@949c3c19bf48/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/coordination/rabbit@949c3c19bf48/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/coordination/rabbit@949c3c19bf48/names.dets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/quorum/rabbit@949c3c19bf48/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/quorum/rabbit@949c3c19bf48/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@949c3c19bf48/quorum/rabbit@949c3c19bf48/names.dets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/cluster_nodes.config
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/LATEST.LOG
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/node-type.txt
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/nodes_running_at_shutdown
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_durable_exchange.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_durable_queue.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_durable_route.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_runtime_parameters.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_serial
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_topic_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_user_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_user.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/rabbit_vhost.DCD
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/schema.DAT
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/coordination/rabbit@b40d9b0ffb3c/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/coordination/rabbit@b40d9b0ffb3c/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/coordination/rabbit@b40d9b0ffb3c/names.dets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/quorum/rabbit@b40d9b0ffb3c/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/quorum/rabbit@b40d9b0ffb3c/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@b40d9b0ffb3c/quorum/rabbit@b40d9b0ffb3c/names.dets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/cluster_nodes.config
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/DECISION_TAB.LOG
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/LATEST.LOG
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/node-type.txt
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/nodes_running_at_shutdown
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_durable_exchange.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_durable_exchange.DCL
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_durable_queue.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_durable_route.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_runtime_parameters.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_runtime_parameters.DCL
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_serial
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_topic_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_user_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_user_permission.DCL
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_user.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_user.DCL
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_vhost.DCD
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/rabbit_vhost.DCL
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/schema.DAT
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/coordination/rabbit@b9c222996262/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/coordination/rabbit@b9c222996262/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/coordination/rabbit@b9c222996262/names.dets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/quorum/rabbit@b9c222996262/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/quorum/rabbit@b9c222996262/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@b9c222996262/quorum/rabbit@b9c222996262/names.dets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/cluster_nodes.config
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/DECISION_TAB.LOG
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/LATEST.LOG
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/node-type.txt
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/nodes_running_at_shutdown
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_durable_exchange.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_durable_exchange.DCL
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_durable_queue.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_durable_route.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_runtime_parameters.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_runtime_parameters.DCL
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_serial
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_topic_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_user_permission.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_user_permission.DCL
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_user.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_user.DCL
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_vhost.DCD
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/rabbit_vhost.DCL
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/schema.DAT
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/coordination/rabbit@f4fc5aa928c7/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/coordination/rabbit@f4fc5aa928c7/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/coordination/rabbit@f4fc5aa928c7/names.dets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/clean.dot
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/file_summary.ets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/msg_store_index.ets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/quorum/rabbit@f4fc5aa928c7/00000001.wal
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/quorum/rabbit@f4fc5aa928c7/meta.dets
project/db-data/rabbitmq/mnesia/rabbit@f4fc5aa928c7/quorum/rabbit@f4fc5aa928c7/names.dets
